<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kanji Ninja</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet" />

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="home">Kanji Splitter</a>
        <form class="form-inline my-2 my-lg-0" action="split">
            <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
</header>
<main>
<!--    <span style="color: red; ">${warning}</span>-->
    <div th:if="${SearchResult != null}"class="main">
        <th:block th:each="kanji : ${SearchResult}">
            <section>
                <div class="container">
                    <div class="row">
                        <div class="left_card col-md-5 text-center">
                            <div class="card">
                                <ul class="list-group list-group-flush">
                                    <li class="type list-group-item">
                                        <span th:if="${kanji.school > 0 && kanji.school < 7}" class="school badge badge-info" th:text="|소학교${kanji.school}|"></span>
                                        <span th:if="${kanji.school > 6}" class="school badge badge-info">중고교</span>
                                        <span th:if="${kanji.jlpt > 0}" class="school badge badge-info" th:text="|JLPT${kanji.jlpt}|"></span>
                                        <span class="jlpt badge badge-info"></span>
                                        <span class="stroke badge badge-info" th:text="|${kanji.stroke}획|"></span>
                                    </li>
                                    <li class="kanji list-group-item" th:text="${kanji.kanji}"></li>
                                    <li class="korean list-group-item" th:text="${kanji.korean}"></li>

                                    <li class="split list-group-item">
                                        <a th:if="${kanji.splitList == null}" class="btn btn-primary" th:href="'updateKanji?id=' + ${kanji.id}">분해 정보가 없습니다.</a>
                                        <th:block th:if="${kanji.splitList != null}" >
                                            <th:block th:each="splitKanji : ${kanji.splitList}">
                                                <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" th:title="${splitKanji.korean}" th:text="${splitKanji.kanji}"></button>
                                            </th:block>
                                            <a class="btn btn-primary" th:href="'split?search=' + ${kanji.split}" role="button">Split More</a>
                                        </th:block>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="right_card col-md-7">
                            <div class="card">
                                <ul class="list-group list-group-flush">
                                    <li class="story list-group-item">
                                        <div th:if="${kanji.story == null || kanji.story.equals('')}" style="text-align: center">
                                            <a class="btn btn-primary" th:href="'updateKanji?id=' + ${kanji.id}">메모 정보가 없습니다.</a>
                                        </div>
                                        <span th:text="${kanji.story}"></span>
                                    </li>
                                    <li class="details list-group-item">
                                        <span class="badge badge-secondary">음독</span><span th:text="${kanji.furigana}"></span><br />
                                        <span class="badge badge-secondary">훈독</span><span th:text="${kanji.imi}"></span><br />
                                    </li>
                                    <li class="tango list-group-item"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </th:block>
    </div>
</main>
<footer>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
        <a class="navbar-brand" href="home">Kanji Splitter</a>
        <form class="form-inline my-2 my-lg-0" action="split">
            <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>